@charset "utf-8";

#hide
{
	display:none;
}

#show
{
	display:true;
}

#data
{
	display:none;
}



h1{color:deeppink;
font-weight: 900;
font-stretch: ultra-condensed;
font-family: "Brush Script MT", cursive;
font-size: 40px;
text-decoration: none;
}

h2{color:deeppink;
font-weight: 900;
font-stretch: ultra-condensed;
font-family: "Brush Script MT", cursive;
font-size: 40px;
}

body{background-color: beige;}

body{
margin: 0;
padding: 0;
font-family: sans-serif;
}
section.sec1
{
width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("pinkcocktail.jpg");
background-color: white;
background-size: cover;
}
section.sec2
{padding:100px;}

section.method
{padding:100px;}

section.sec3
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("tequila2.jpg");
background-color: wheat;
background-size: cover;
}

section.sec4
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("gin.jpg");
background-color: wheat;
background-size: cover;
}

section.sec5
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("cosmo.jpg");
background-color: wheat;
background-size: cover;
}

section.sec6
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("mojito.jpg");
background-color: wheat;
background-size: cover;
}

section.sec7
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("longisland.jpg");
background-color: wheat;
background-size: cover;
}

section.sec8
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("daiquiri.jpg");
background-color: wheat;
background-size: cover;
}

section.sec9
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("maitai.jpg");
background-color: wheat;
background-size: cover;
}

section.sec11
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("margarita.jpg");
background-color: wheat;
background-size: cover;
}

section.sec12
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("negroni.jpg");
background-color: wheat;
background-size: cover;
}

section.sec13
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("martini2.jpg");
background-color: wheat;
background-size: cover;
}

section.sec14
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("bloodymary.jpg");
background-color: wheat;
background-size: cover;
}

section.sec15
{
	width: 100%;
height: 100vh;
box-sizing: content-box;
background: url("espresso.jpg");
background-color: wheat;
background-size: cover;
}

nav
{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 70px;
background: rgba(0, 0, 0, 0.6);
padding: 0 100px;
box-sizing: border-box;
}
nav .brand
{
float: left;
height: 100%;
line-height: 70px;
text-decoration: none;
}
nav .brand h1
{
margin: 0;
padding: 0;
color:deeppink;
text-decoration: none;
}

nav ul
{
float: right;
display: flex;
margin: 0;
padding: 0;
list-style-type:none;
position:relative;
}

nav ul ul{
	min-width:160px;
}

nav ul li a
{
position: relative;
display: block;
height: 70px;
line-height: 70px;
padding: 0 20px;
box-sizing: border-box;
color: #fff;
text-decoration: none;
transition: .5s;
}
nav ul li a:hover
{
color: #262626;
}

nav ul li ul li{
	display: none;
}

nav ul li ul{
	display:block;
}

nav ul li:hover ul li{
	display: block;
}

nav ul li a:before
{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #fff;
transform-origin: right;
z-index: -1;
transform: scaleX(0);
transition: transform .5s;
}
nav ul li a:hover:before
{
transform-origin: left;
transform: scaleX(1);
}
